.*
!.gitignore
/MANIFEST*
!/MANIFEST.SKIP
/META.json
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile*
!Makefile.PL
/SIGNATURE
/blib/
/inc/
/pm_to_blib
pod2htm*

# edits and editors

.#*
[#]*#
*~
*.*~*
*.bak
*.old
*.orig
*.tmp

# patch and diff

*.patch
*.rej
*.diff

# compressed files

*.gz

# development stuff

/devel/
/dev/

# distribution-specific

/Math-BigInt-[0-9]*
